<link rel="stylesheet" type="text/css" href="/css/emailSignUp_style.css">
<div id="container">
    <div id="info-div">
            <h1 id="heading"><span><a  class="signup-btn" href="#"><i class="fas fa-chevron-left"></i></a></span> Create your account</h1>
    </div>
    <div id="email-signup-div">
        <form method="post" action="/users/create">
        <input type="text" placeholder="Name" name="name" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit" id="email-signup-btn">Get started, it's free!</button>
        </form>
    </div>
    <div id="terms-of-use-div">
            <span>By signing up, you agree to Keep Up's <a href="">Terms of use</a> and <a href="">Privacy Policy</a>.</span>
    </div>
    <div id="login-option-div">
        <span>Already signed up?<a class="signin-btn" href="#">Log in</a></span>
    </div>
    <div>

    </div>

</div>