<link rel="stylesheet" type="text/css" href="/css/signup_style.css">
<div id="container">
    <div id="info-div">
            <h1 id="heading">Keep Up with your daily tasks</h1>
            <p>
                Create an account, it's free.
                Keep Up helps people all around the world to organise their tasks.
            </p>
    </div>
    <div id="social-btns">
        <div class="social-media-btn"  onclick="location.href='/users/auth/google'">
            <i class="fab fa-google google"></i>
            <span>Sign up with Google</span>
        </div>
        <div class="social-media-btn"  onclick="location.href='/users/auth/facebook'">
            <i class="fab fa-facebook-square fb"></i>
            <span>Sign up with Facebook</span>
        </div>
    </div>
    <div id="email-signup-div">
        <button type="button" id="email-signup-btn">Sign up with Email</button>
    </div>
    <div id="login-option-div">
        <span>Already signed up?<a class="signin-btn" href="#">Log in</a></span>
    </div>
    <div>

    </div>

</div>