#main-container{
    margin: auto;
    text-align: center;
    height: auto;
    width: 600px;
    border: 2px solid black;
}
#main-container form input[type='text'],input[type='date'],select{
    font-size: 1rem;
    padding: 5px;
    margin: 10px 0px;
    width: 300px;
    box-sizing: border-box;
}
#main-container form ol{
    list-style-position: inside;
}
#submit-btn{
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border: 0;
    margin: 10px 0px;
    cursor: pointer;
}
#add-task-btn{
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;
    width: auto;
}
#add-task-btn i{
        font-size: 1rem;
        margin: 5px;
}
#back-div{
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
#back-div i{
    margin-right: 10px;
    font-size: 1rem;
}
input[type='checkbox']{
    width: auto;
}
.pointer{
    margin: 2px;
    cursor: pointer;
}