
<h1>Reset your Keep Up password</h1>

<p>Don't worry, it happens to everyone. To reset your password, click the button below.</p>
<a href="http://localhost:8000/signin/reset/?accessToken=<%=  locals.resetPasswordToken %>">Reset your password</a>
